<!DOCTYPE html>

<head>
    <title>Activity Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>
    <!-- begin nav -->
    <div th:replace="fragments/topnav :: navbar"></div>
    <!-- end nav -->


    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <!-- begin form -->
            <div class="col">
                <form id="bored-form">
                    <!-- type -->
                    <label for="type">Type of Activity</label>
                    <select class="form-control" id="activity-type">
                        <option value="education">Education</option>
                        <option value="recreational">Recreational</option>
                        <option value="social">Social</option>
                        <option value="diy">DIY</option>
                        <option value="charity">Charity</option>
                        <option value="cooking">Cooking</option>
                        <option value="relaxation">Relaxation</option>
                        <option value="music">Music</option>
                        <option value="busywork">Busywork</option>
                    </select>
                    <!-- participants -->
                    <label for="participants">Number of Participants (1-10)</label>
                    <input type="range" class="form-range" value="1" min="1" max="10" id="participants" oninput="this.nextElementSibling.value = this.value">
                    <output>1</output><br>
                    <!-- price -->
                    <label for="price">Free or paid activity?</label>
                    <select class="form-control" id="price">
                        <option value = "0">Free</option>
                        <option value = "1">Paid</option>
                    </select>
                    <!-- submit button -->
                    <button onclick="btnSubmit()" type="button" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- end form -->

            <!-- display activity here-->
            <div class="col">
                <center>
                    <h1>Bored?</h1>
                    <p class="lead">Here is a random activity!</p>
                </center>
                <div class="bored d-flex justify-content-center">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        function priceRange(){
            var freeOrPaid = document.getElementById("price").value;
            if (freeOrPaid == 0){
                console.log("input was zero which means free");
                return 0;
            }
            else if(freeOrPaid == 1){
                console.log("input was one which means paid");
                return 9999;
            }
            else{
                console.log("THERE WAS AN UNEXPECTED ENTRY FOR PRICE");
            }
        }

        function btnSubmit() {
            var activityType = document.getElementById("activity-type").value;
            var participantsNumber = document.getElementById("participants").value;
            var maxPrice = priceRange();

            $.ajax({
                url: 'http://www.boredapi.com/api/activity?type=' + activityType + '&participants=' + participantsNumber + '&minprice=0&maxprice=' + maxPrice,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('.bored').html(
                        '<p><span id="large-bold">Activity: </span>' + data.activity + '</p>' +
                        '<p><span id="large-bold">Type: </span>' + data.type + '</p>' +
                        '<p><span id="large-bold">Participants Required: </span>' + data.participants + '</p>' +
                        '<p><span id="large-bold">Price: </span>' + data.price + '</p>' +
                        '<p><span id="large-bold">Link (if any): </span>' + data.link + '</p>'
                    )
                },
                error: function (data) {
                    console.log('error');
                    console.log(data);
                }
            })
        }
    </script>
</body>

</html>